body{
  baground-color: #eee2dc;
}
.flex-parent{
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.profile{
  width: 30%;
  height: auto;
  background: #000;
  margin: 2%;
  padding: 1%;
}

.content{
  width: 70%;
  height: auto;
  background: #000;
  margin: 2%;
  padding: 1%;
  color:#fff;

}
img{
  display: block;
  margin- left: auto;
  margin- right: auto;
  width: 150px;
  height: 150px;
  border-radius: auto;
}
h2{
  color:#fff;
}
@media only screen and (min-width:320px)and (max-width:480px){
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    width: auto;
  }
  .justify-content{
    width: auto;
  }
}
@media only screen and (min-width:525px)and (max-width:1024px){
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    width: auto;
  }
  .justify-content{
    width: auto;
  }
}
@media only screen and (min-width:0px)and (max-width:525px){
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    width: auto;
  }
  .justify-content{
    width: auto;
  }
}
@media only screen and (min-width:720px)and (max-width:1024px){
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    width: auto;
  }
  .justify-content{
    width: auto;
  }
}
